#allForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 380px;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    width: inherit;
    max-width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
}

.altAlert {
    display: none;
    margin-bottom: 1px;
    height: 35px;
    line-height: 35px;
    padding: 0px 15px;
}

@media (max-width: 768px) {
    #allForm {
        width: 80%;
    }

    .button {
        width: 100%;
        margin-bottom: 8px;
    }
}
