@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LinkedList<FinalProject.Models.UserModel.PostModel>

@{
    Layout = "~/Views/_Layout.cshtml";
    ViewData["view_title"] = "Explore";
    ViewData["view_style"] = "css/post.css";
}

<div style="margin-bottom: 100px;"></div>
<div style="margin: 20px;">
    <h3>Posts by the community</h3>
    <div style="margin-bottom: 40px;"></div>
    <div style="position: absolute; left: 50%; width: 80%; transform: translate(-50%, 0%);">
        @foreach (FinalProject.Models.UserModel.PostModel p in Model)
        {
            @Html.Partial("_PostPartial", p);
        }
    </div>
</div>
