@{
    Layout = "~/Views/_Layout.cshtml";
    ViewData["view_title"] = "FAQ";
}

<div style="margin: 10px;">
    <div style="height: 80px;"></div>
    <h3>What is Pinboard?</h3>
    <div>An image-sharing platform, developed by Antonio Junaković for RAUPJC courses at FER as a final project.</div>
    <div style="height: 20px;"></div>
    <h3>Why are there references to 'Email' and similar classes in the code?</h3>
    <div>Originally, the site was intended to use email verification for new accounts and changing account info. Due to the fact that transactional email providers such as SendGrid aren't free, I was forced to use a free email account via SMTP to do these tasks. Eventually, all of them would get banned sooner or later, so I decided to drop the idea altogether.</div>
    <div style="height: 20px;"></div>
    <h3>Why can't you upload images directly to this site?</h3>
    <div>There is no way to store the data on the servers for free. AzureStorage service cannot be acquired for free (even though my account is a student account). Therefore, only links to images hosted on different websites are allowed.</div>
    <div style="height: 20px;"></div>
    <h3>Why is the page design ugly and non-consistent?</h3>
    <div>Because I'm bad at web design. The subject RAUPJC's name is misleading. People who took these classes expected C#, and not web design. People who study computer science DO NOT want to make web apps. Thats the job for TVZ studnets.</div>
    <div style="height: 20px;"></div>
</div>
