@{
    Layout = "~/Views/_Layout.cshtml";
    ViewData["view_title"] = "FAQ";
}

<div>
    <div style="height: 100px;"></div>
    <h3>What is Pinboard?</h3>
    <div>An image-sharing platform, developed by Antonio Junaković for RAUPJC courses at FER as a final project.</div>
    <div style="height: 20px;"></div>
    <h3>Why are there references to 'Email' and similar classes in the code?</h3>
    <div>Originally, the site was intended to use email verification for new accounts and changing account info. Due to the fact that transactional email providers such as SendGrid aren't free, I was forced to use a free email account via SMTP to do these tasks. Eventually, all of them would get banned sooner or later, so I decided to drop the idea altogether.</div>
    <div style="height: 20px;"></div>
</div>
